.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 3rem 1rem;
}

.buttons .button{
    color: red;
    background-color: white;
    text-transform: capitalize;
    font-weight: 500;
}

.buttons .button:hover{
    background-color: red !important;
    color: white !important;
    border-color: red !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
}